<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863964786681-h0rdmcqec0oqq8090fm1tvoje7tj9uur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863964786681-h0rdmcqec0oqq8090fm1tvoje7tj9uur</string>
	<key>API_KEY</key>
	<string>AIzaSyCeVNdxyvsVCFXTtMUh7UIfOCmGgz89cA4</string>
	<key>GCM_SENDER_ID</key>
	<string>863964786681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-de132</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-de132.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863964786681:ios:8aea987e1313f08fa69728</string>
</dict>
</plist>